<html>
  <head>
    <title>Mudit's Blog</title>
  </head>
  <body>
    <h1>Create Blog</h1>
    <form method="post">
      <input placeholder="Password" name="password" type="password"/>
      <br/> 
      <input placeholder="Write title" name="title" />
      <br/> 
      <label for="w3review">Write your content:</label>
      <textarea 
        placeholder="Write content" 
        name="content"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
