<html>
  <head>
    <title>Mudit's Blog</title>
  </head>
  <body>
    <h1>Login Page</h1>
    <form method="post">
      <input placeholder="Password" name="password" type="password"/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
